<meta charset="utf-8" />

<title>{{ page.title }}</title>

<link rel="icon" type="image/png" href="/images/favicon-black-on-white-on-trans.png">

<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="{{ page.description }}">
<link rel="preload" href="/fonts/InterVariable.woff2" as="font" type="font/woff2" crossorigin>
<link rel="stylesheet" href="/css/tokens/palette.css" />
<link rel="stylesheet" href="/css/tokens/colors.css" />
<link rel="stylesheet" href="/css/tokens/scales.css" />
<link rel="stylesheet" href="/css/settings.css" />
<link rel="stylesheet" href="/css/reset.css" />
<link rel="stylesheet" href="/css/page-composition/layout.css" />
<link rel="stylesheet" href="/css/components/ids.css" />
<link rel="stylesheet" href="/css/components/gallery.css" />
<link rel="stylesheet" href="/css/components/navbar.css" />
<link rel="stylesheet" href="/css/components/footnotes.css" />
